<div class="tile is-ancestor is-offset-one-quarter">
    <div class="tile is-3"></div>
    <div class="tile is-6 is-parent">
        <div class="tile is-vertical">
            <div class="tile">
                <a href="/worldbosses" class="title button is-fullwidth is-primary"><%= gettext "World Bosses" %></a>
            </div>
        </div>
    </div>
    <div class="tile is-3"></div>
</div>
