<div class="container">
  <%= render @view_module, "table_header.html", show_header: true %>
  <%= for world_boss <- @world_bosses do %>    
    <%= render @view_module, "show.html", world_boss: world_boss %>
  <% end %>
</div>
