<div class="columns is-gapless">
    <div class="column notification is-dark">
        <label>Name</label>
    </div>
    <div class="column notification is-dark">
        <label>Zone</label>
    </div>
    <div class="column notification is-dark is-one-quarter">
        <label>Event Time</label>
    </div>
</div>
